---

import '../style/tailwind.css';
import BaseLayout from '../components/spotlight/BaseLayout.astro'
import Posts from '../Posts.js';
import ArticleCard from '../components/spotlight/ArticleCard.astro'

const posts = await Posts.published();
---
<BaseLayout>
  <div class="sm:px-8 mt-16 sm:mt-32">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="relative px-4 sm:px-8 lg:px-12">
        <div class="mx-auto max-w-2xl lg:max-w-5xl">
          <header class="max-w-2xl">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100">Writing on software design, company building, and the aerospace industry.</h1>
            <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">All of my long-form thoughts on programming, leadership, product design, and more, collected in chronological order.</p>
          </header>
          <div class="mt-16 sm:mt-20">
            <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
              <div class="flex max-w-3xl flex-col space-y-16">

                { posts.map(post => <ArticleCard post={post}/>)}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
