---
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview";
import Posts from '../Posts.js';

const posts = (await Posts.published());
---

<Blog>
  <div>
    {posts.map((p) => <Preview post={p} />)}
  </div>
</Blog>
